table,tr,td,th {
	margin: 0px;
	border: 1px solid black;
}

tr ,td, th, caption {
	padding: 10px;
}

td, th {
	text-align: center;
		
}

form {
	margin-top: 5px;
}

#paging-tag {
	margin-bottom: 10px;
}

.page-number {
	margin-right: 5px;
}

span.error-msg {
	color: red;
}

#enter-button, #go-button {
	margin-left: 10px;
}

input[name="numOfEntsPerPage"] {
	margin-left: 10px;
}

input[name="currentIndex"] {
	margin-left: 64px;
}
