<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>HibernateTask</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>controller</servlet-name>
		<servlet-class>com.epam.ht.controller.EmployeeListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>dispatchPath</param-name>
		<param-value>/WEB-INF/pages/employeeList.jsp</param-value>
	</context-param>
	<jsp-config>
		<taglib>
			<taglib-uri>/hibertag</taglib-uri>
			<taglib-location>/WEB-INF/tld/hibernateTag.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>